* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 0.5rem;
  width: 100%;
  color: white;
  background-color: black;
}

#top-render {
  display: flex;
  margin: 1rem 0;
}

#id-ph1 {
  flex: 0 1 auto;
  height: 300px;
  margin-right: 0.5rem;
  cursor: pointer;
}

#id-ph2 {
  flex: 0 1 auto;
  height: 300px;
  max-width: 400px;
  margin-right: 0.5rem;
  padding-top: 100px;
  font-size: x-large;
  
}

#id-ph3 {
  flex: 0 1 auto;
  height: 300px;
  margin-right: 0.5rem;
  cursor: pointer;
}

#top-render img:last-child {
  margin-right: 0;
}

#inspr quote {
  position: relative;
}

.detail-image {
  height: 350px;
}

.name,
.restaurant {
  position: absolute;
  left: 10px;
  padding: 0.25rem 5rem 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.name {
  bottom: 60px;
}

.restaurant {
  bottom: 20px;
}

#form-div {
  display: grid;
}

#journal-form {
    margin: 50px;
    width: 311px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  input,
  textarea {
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  /* padding: 0.5rem; */
  margin: 0.25rem 0;
  width: 100%;
}

input[type="submit"] {
  color: white;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="submit"]:active {
  background-color: gray;
}

#journal-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  width: 313px;
  position: relative;
  left: 450px;
  bottom: 375px;
  border-style: groove;

}

input[type="submit"] {
  color: white;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="submit"]:active {
  background-color: gray;
}


form h4 {
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem 0;
    color: white;
    background-color: black;
}

.entry-box {
    background-color: rgb(82, 212, 216);
    height: 100px;
    width: 100px;
}

.entry-text {
    padding: 10px;
    line-height: 6.5em;
    background-color: aliceblue;
    opacity: 60%;
}
