* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 0.5rem;
  width: 100%;
  color: white;
  background-color: black;
}

#top-render {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  /* //overflow-x: auto; */
  margin: 1rem 0;
  /* max-width: calc(100vw - 2rem); */ 
  align-items: center;
  justify-content: center;
}

#bottom-render {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 75%;
  height: 500px;
  /* //overflow-x: auto; */
  margin: 1rem 0;
  /* max-width: calc(100vw - 2rem); */ 
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

#id-ph1 {
  flex: 0 1 auto;
  height: 300px;
  margin-right: 0.5rem;
  cursor: pointer;
  max-width: 425px;
}

#id-ph2 {
  flex: 0 1 auto;
  height: 300px;
  max-width: 400px;
  margin-right: 0.5rem;
  cursor: pointer;
  
}

.detail-image2 {
  flex: 0 1 auto;
  height: 300px;
  margin-right: 0.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.img-enlarged {
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  /* max-width: 90%;
  max-height: 90%; */
  z-index: 10
  
}

.img2-enlarged {
  position:fixed;
  left: 50%;
  top: 50%;
  transform: scale(1.5) translate(-50%, -50%);
   */
  /* max-width: 90%;
  max-height: 90%; */
  z-index: 10

}

/* #top-render img:last-child {
  margin-right: 0;
} */

#inspr quote {
  position: relative;
}


#form-div {
  display: grid;
}

#journal-form {
    margin: 50px;
    width: 311px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: center;
    position: relative;
}

  input,
  textarea {
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
}

input[type="submit"] {
  color: white;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="submit"]:active {
  background-color: gray;
}

#journal-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  width: 313px;
  position: relative;
  /* left: 450px;
  bottom: 375px; */ */
  border-style: groove;

}

input[type="submit"] {
  color: white;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="submit"]:active {
  background-color: gray;
}


form h4 {
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem 0;
    color: white;
    background-color: black;
}

.entry-box {
    background-color: rgb(82, 212, 216);
    height: 100px;
    width: 100px;
}

.entry-text {
    padding: 10px;
    line-height: 6.5em;
    background-color: aliceblue;
    opacity: 60%;
}
