form {
    margin: 1rem 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #journal-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    max-width: 200px;
    margin: 20px;
  }

  .entry-box {
    background-color: rgb(82, 212, 216);
    height: 80px;
    width: 80px;
  }

  .entry-text {
    padding: 10px;
    line-height: 5em;
    background-color: aliceblue;
    opacity: 60%;
  }